@import '../../styles/constants';

:local(.container) {
  margin-left: 15px;
  margin-right: 15px;
}

:local(.content) {
  margin-left: auto;
  margin-right: auto;

  //@media screen and (min-width: $break-desktop) {
  //  max-width: 600px;
  //}
}
