:local(.container) {
  margin-left: 15px;
  margin-right: 15px; }

:local(.content) {
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 1200px) {
    :local(.content) {
      max-width: 600px; } }
