:local(.gameContainer) {
  text-align: center;
  position: relative;
}

:local(.board) {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}

:local(.commitButton) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100px;
}
