:local(.character) {
  position: absolute; }
  :local(.character).fox {
    background-color: orange; }
  :local(.character).cat {
    background-color: gray; }
  :local(.character).sheep {
    background-color: white; }
