:local(.character) {
  position: absolute;
  z-index: 5; }
  :local(.character).fox {
    background-color: orange; }
  :local(.character).cat {
    background-color: gray; }
  :local(.character).sheep {
    background-color: white; }
