:local(.character) {
  height: 25px;
  width: 25px;
  transform: translateX(-50%) translateY(-50%);
  position: absolute; }
  :local(.character).fox {
    background-color: orange; }
  :local(.character).cat {
    background-color: gray; }
  :local(.character).sheep {
    background-color: white; }
