:local(.roomList) > div {
  height: 50px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #69e6ff;
  margin-bottom: 10px; }
  :local(.roomList) > div:hover {
    background-color: #e6e6e6; }
  :local(.roomList) > div a {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #282828;
    font-weight: bold; }
