$background: #51d1ff;

:local(.cell) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;

  &:not(:last-of-type) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: $background;

  &.highlighted {
    background-color: lighten($background, 10);
  }
}
