:local(.cell) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #51d1ff; }
  :local(.cell):not(:last-of-type) {
    border-right: 1px solid rgba(0, 0, 0, 0.2); }
  :local(.cell).highlighted {
    background-color: #84deff; }
